.main_div {
  font-family: sans-serif;
  background-color: rgb(250, 249, 176);
}
.center_div {
  font-family: sans-serif;
  background-color: peachpuff;
  text-align: center;
  margin:  0 100px ;
}
ol{
  margin-top: 30px;
  margin-right: 100px;
}
ol li{
padding-left:  0 px;
text-align: left;
font-weight:500;
font-size: 20px;
min-height: 40px;
display: flex;
align-items: center;
color: #8566aa;
text-transform: capitalize;
}
.todo_style{
display: flex;
flex-direction: row;
justify-content: left;
align-items:center;
}
.todo_style , .fa-times{
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin: 0 15px 0 35px;
color: aliceblue;
background-color:#8566aa;
box-shadow: 5px 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.todo_style .fa-times:hover{
  background-color: red;
cursor: pointer;
}
.todo_style .fa-times:hover .list_style{
  color: crimson;
}